body{
    background-color: darkgray;
}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
}
#h21{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    font-size: 24px;
}
#h22{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:yellow;
    font-size: 24px;
}
#h23{
    font-family:'Times New Roman', Times, serif;
    color:red;
    font-size: 24px;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:black;
    font-size: 24px;
}